.buscador-container {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 10px 16px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.08);
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

.icono-lupa {
  margin-right: 10px;
  font-size: 18px;
  color: #888;
}

.buscador-input {
  border: none;
  outline: none;
  font-size: 16px;
  flex: 1;
}
