:root {
  --color-primario: #604be8;
  --color-secundario: #c3cde4;
  --color-texto: #302d3d;
  --color-acento-green: #38deb3;
  --color-acento-red: #ff7a7e;
  --color-acento-yellow: #fdd36d;
  --color-acento-white: #ffffff;
  --color-acento-blue: #6f91eb;
  --color-background: #f5f7ff;
}
